# 使用 C++ 语言
Language: Cpp
# 基于 Visual Studio 的默认代码风格
BasedOnStyle: Microsoft
# 缩进宽度为 4 个空格
IndentWidth: 4
# Tab 宽度也为 4 个空格
TabWidth: 4
# 使用空格进行缩进
UseTab: Never
# 访问修饰符 (public, private, protected) 相对于类缩进 1 个空格
AccessModifierOffset: -3
# 允许将短的函数放在一行
AllowShortFunctionsOnASingleLine: None
# 括号换行风格：Stroustrup 风格
BreakBeforeBraces: Stroustrup
# 每行最大字符数
ColumnLimit: 120
# C++11 及以上版本的大括号初始化风格
Cpp11BracedListStyle: true
# 指针的位置：靠近类型 (e.g., int*)
PointerAlignment: Left
# 连续的 #include 指令块之间空一行
IncludeBlocks: Regroup

# #include 的排序规则
IncludeCategories:
  - Regex: '^<windows.h>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^".*>'
    Priority: 3